.category {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.category__img {
    max-width: 100%;
}

.category__img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.category__h3 {
    margin-top: 5px;
    color: grey;
    font-weight: 400;
    align-self: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}