.info {
    max-width: 100%;
    min-width: 320px;
    color: grey;
}

@media screen and (max-width: 700px) {
    .info {
        display: none;
    }
}

.info__wrapper {
    max-width: 900px;
    min-width: 320px;
    margin: 10px auto 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

@media screen and (max-width: 700px) {
    .info__item:nth-of-type(2) {
        margin: 20px 30px;
    }
}



.info__title {
    text-align: center;
    align-self: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: grey;
    opacity: 0.7;
}

.info__para {
    font-weight: 400;
    align-self: center;
    font-size: 12px;
    font-style: bold;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    
}