.promo-item {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
}

.promo-item__img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;

}

.promo-item__img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.promo-item__h3 {
    margin-top: 5px;
    /* color: grey; */
    font-weight: 600;
    align-self: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.promo-item__para {
    margin: 10px 0 0 0;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: grey;

    text-decoration: none;
}

.promo-item__para_black {
    color: black;
}

.promo-item__para_black-bold {
    color: black;
    font-weight: 800;
}

.promo-item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;

    margin-top: 20px;
}