
.promo-item-page {
    max-width: 100%;
    min-width: 320px;

    position: relative;
}

.promo-item-page__wrapper {
    max-width: 900px;
    min-width: 320px;
    margin: 10px auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    
}

.promo-item-page__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    

}

.promo-item__img_page {
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;

    z-index: 1;
}

.promo-item-page__button {
    text-decoration: none;
    display: flex;
    color: white;
    background-color: grey;
    border-radius: 2px;
    padding: 3px;
    transition: opacity 0.3s ease-in-out;
}

.promo-item-page__button:hover {
    opacity: 0.6;
}

.promo-item__btn_ppage {
    /* margin-top: 10px; */
    font-size: 16px;

}