@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./vendor/fonts/Montserrat.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/CartInfo/CartInfo.css);

@import url(./components/PopupPhone/Popup-phone.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Carousel/Carousel.css);
@import url(./components/Info/Info.css);
@import url(./components/Nav/Nav.css);

@import url(./components/ShopList/ShopList.css);
@import url(./components/ShopListItem/ShopListItem.css);

@import url(./components/Product/Product.css);
@import url(./components/CartList/CartList.css);
@import url(./components/CartListItem/CartListItem.css);



.cart-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.cart-list {
  display: block;
}



/* .button {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  width: 100%;
  padding: 9px 0;
  background-color: transparent;
  border: 1px solid #c93756;
  border-radius: 3rem;
  color: #c93756;
  font-size: 14px;
  font-weight: 600;
}

.button-cart {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffb3a7;
  border: none;
  font-size: 23px;
}

.button:hover {
  background-color: #c93756;
  color: #fff;
}


.button-cart {
  cursor: pointer;
} */
