@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./vendor/fonts/Montserrat.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/CartInfo/CartInfo.css);

@import url(./components/Popup/Popup.css);

@import url(./components/PopupPhone/Popup-phone.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Carousel/Carousel.css);
@import url(./components/Info/Info.css);
@import url(./components/Nav/Nav.css);

@import url(./components/ShopList/ShopList.css);
@import url(./components/ShopListItem/ShopListItem.css);

@import url(./components/Product/Product.css);
@import url(./components/CartList/CartList.css);
@import url(./components/CartListItem/CartListItem.css);

@import url(./components/PersonalAccount/PersonalAccount.css);



.cart-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.cart-list {
  display: block;
}
